@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: "Open Sans", sans-serif;
   background-color: #eee;
   font-size: 1.6rem;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h1,h2{
    font-size: 2.2rem;
    font-weight: 500;
}
h3,h4{
    font-size: 1.8rem;
}
span,a{
    display: inline-block;
}
.container-width{
    width: 85%;
    margin: auto;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: whitesmoke;
  
}
.nav{
    /* background-color: blue; */
    display: flex;
}
.menu-left{
    width: 40%;
    /* background-color: brown; */
}
.menu-left ul{
    display: flex;
    gap: 1rem;
}
.menu-left ul li{
    padding: 1.5rem 1rem;
}
.menu-left ul li:hover{
    background-color: white;
}
.menu-center{
    width: 20%;
    /* background-color: chartreuse; */
    display:flex ;
    justify-content: center;
    align-items: center;
}
.menu-center img {
    width: 125px;
    /* background-color: blanchedalmond; */
}
.menu-right{
    width: 40%;
   
}
.menu-right ul{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
    /* background-color: aqua; */

}
.menu-right ul li {
    height: 100%;
    display: flex;
    padding: 0 1.5rem;
    align-items: center;
}
.menu-right ul li:hover{
    background-color: white
    
}
.search{
    display: flex;
    height: 65%;
    border: 1px solid gray;
    width: 150px;
    border-radius: 0.8rem;
    overflow: hidden;
}
.search input{
    width: 75%;
    border: none;

}
.search input:focus{
    outline: none;

}
.search span{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
   
    height: 650px;
}
.hero-btn{
    position: absolute;
    bottom: 15%;
    display: flex;
    gap: 20px;
}
.hero-btn button{
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    border: black 1px solid;
    font-size: 2rem;
    font-weight: bold;
    background-color: transparent;
    transition: all 3s;

}
.hero-btn button:hover{
   
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
     rgba(0, 0, 0, 0.12) 0px -12px 30px, 
     rgba(0, 0, 0, 0.12) 0px 4px 6px,
     rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.brand {
    height: 200px;
    background-color: white;
    display: flex;
}
.brand div{

    height: 100%;

}
.brand div img {
    width: 100%;
}
.slide{
    height: 350px;
}
.main-card {
    height: 500px;
    background-color: green; 
          
}
.header-main-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.header-main-card h1{
    font-size: 2.8rem;
} 
.header-main-card a {
    font-size: 1.8rem;
    color: black;
}
.body-main-card{
    background-color: beige;
    height: auto;
    display: flex;
    gap: 1%;
}
.card{
    width: 24.25%;
    height: 450px; 
    background-color: rgb(203, 130, 20);
}
.img-card{
    height: 75%;
    background-color: bisque;
    position: relative;
}.img-card img {
    width: 100%;
    height: 100%;
}
.card-body{
    height: 25%;
    background-color: aquamarine;
    display: flex;
    padding: 1.3rem;
}
.card-text{
    width: 85%;
    /* background-color: blueviolet; */
}
.price{
    display: block;
}
.price span:first-child{
    color: red;

}
.price span:last-child{
    text-decoration: line-through;
}
.card-text p{
    font-size: 1.5rem;
    margin-top: 0.8rem;
}
/* .dis{
   padding: 0.5rem 0.4rem
} */
.dis{
    position: absolute;
    left: 6%;
    right: 5%;
    width: fit-content;
    background: red;
    padding:  0.5rem 1.2rem;
    border-radius: 0.5rem;
}























.footer{
    height: 400px;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
}
.footer > div {
    width: 20%;
    background-color: blueviolet;

}


    

   
